APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:YK/T6W3/vMLVnUDVowArMwf2Nvt+2rpY0NETBPg9XHs=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=kol
DB_USERNAME=postgres
DB_PASSWORD=123456xyz

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_PORT=6379
REDIS_HOST=redis:${REDIS_PORT}
REDIS_DB=0
REDIS_PASSWORD=dev.NWA_pwd
REDIS_USERNAME=dev-interface
REDIS_URI=redis://dev-interface:dev.NWA_pwd@redis:${REDIS_PORT}

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=nwa.innovative@gmail.com
MAIL_PASSWORD="dvvhffsestmysnhy"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@innovative.networldasia.com
MAIL_FROM_NAME="INNOVATIVE-REPORT"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

DEV_PASS=HIHIHAHA
DB_PORT_CONTAINER_EXPOSE=5460
REDIS_PORT_CONTAINER_EXPOSE=6380
WEB_PORT_CONTAINER_EXPOSE=8056
APP_PORT_CONTAINER_EXPOSE=9000
